.footer{
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 98%;
    background-color: #282828;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_left{
    flex:  0.3;
    display: flex;
    align-items: center;
    color: white;
    max-width: 300px;
}
.footer_albumLogo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}
.footer_center{
    flex:  0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footer_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex: 0.3;
}
.footer_green{
    color: #1ed15e;
}
.footer_icon:hover, .footer_green:hover{
    transform: scale(1.2) !important;
    transition: transform 0.2s ease-in-out;
}
.footer_right * .MuiSlider-root{
    color: green !important;
}